<h1>Mailings</h1>

<div class="panel panel-default">
  <div class="panel-body">
    Total newsletter subscribers: <strong><%= Member.validated_emails.allowed_newsletter.count %></strong>
  </div>
</div>

<%= render 'tab_admin_menu' %>
