<% content_for :meta_title, 'Editing My Profile' %>
<% content_for :meta_description, "This is where the site's user can edit his or her profile information" %>

<%= render 'tab_menu' %>

<p>The editing form and functionality go here.</p>

<%= render'admin_context_menu' %>
