h1, h2, h3, h4 {
  color: #000099;
}

ul, ol {
  margin-left: 0;
}

table {
  background-color: #fff;
  width: 600px;
}

#header {
  text-align: center;
}
h1#header-title {
  font-family: opensanscondlight, "Helvetica Neue", Helvetica, Arial, sans-serif;
  a {
    color: #000099;
    text-decoration: none;
  }
}
