<p class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>Attention!</strong> This section is deprecated. The members resource area should be used instead of the details one.</p>

<ul class="nav nav-tabs" id="admin-menu-tab">
  <%= content_tag :li, link_to(t('new'), new_detail_path), ({ class: 'active' } if controller.action_name.to_s == 'new' ) %>
  <%= content_tag :li, link_to(t('list'), users_path), ({ class: 'active' } if controller.action_name.to_s == 'index' ) %>
  <%= content_tag :li, link_to(t('view'), '#'), ({ class: 'active' }) if controller.action_name.to_s == 'show' %>
  <%= content_tag :li, link_to(t('edit'), '#'), ({ class: 'active' }) if controller.action_name.to_s == 'edit' %>
</ul>
