<% content_for :meta_title, @member.name %>
<% content_for :meta_description, "Public profile for #{@member.name}" %>

<h1><%= @member.name %> </h1>

<p>More info goes here.</p>

<p>Trying a dynamic link. <%= link_to "Member named #{@member.name}", @member %> </p>

<%= render 'admin_context_menu', member: @member %>
